body {
    background-color: #16022d;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.top-menu {
    position: fixed;
    top: 0;
    z-index: 1;
    overflow: hidden;
    background-color: #320969;
    list-style: none;
    display: inline-block;
    width: 100em;
    height: 3.3em;
}

.top-menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 7px 87px;
    text-decoration: none;
    font-size: 25px;
    display: inline-flex;
    font-family: Koulen;
    cursor: default;
}

.top-menu span:hover {
    color: red;
    cursor: pointer;
}

#background-page img {
    position: fixed;
    max-width: 100vw;
    max-height: 96vh;
    filter: brightness(0.91);
    display: inline;
    left: 0;
    bottom: -1em;
}

.first-page #title {
    position: fixed;
    color: #f2f2f2;
    left: 17.3em;
    top: 4.6em;
    font-size: 52px;
    font-family: Koulen;
}

.first-page #context-title {
    position: fixed;
    color: #f2f2f2;
    left: 34.5em;
    top: 14.2em;
    font-size: 24px;
    font-family: Inter;
}
